<body>
    <div class="container">

      <h1 class="promo-header">PROMOCIONES</h1>

      <div class="row">
        <div class="column">
          <img src="./assets/img/OIG.jpg" alt="Imagen Izquierda">
        </div>
        <div class="column text">
            <p class="titulo_promo">SPORTCEMBER</p>
          <p>
            ¡Prepárate para vivir el mes más deportivo del año con nuestra sensacional promoción "Sportcember"! En este diciembre lleno de energía, te ofrecemos una oportunidad única para renovar tu guardarropa deportivo y alcanzar tus metas fitness con estilo.
          </p>
          <p>
            Descubre la combinación perfecta de rendimiento y moda en nuestra amplia gama de ropa deportiva de alta calidad. Desde leggings que abrazan tus curvas hasta camisetas transpirables que te mantienen fresco durante tus entrenamientos más intensos, tenemos todo lo que necesitas para destacar en cada movimiento.
          </p>
          <div class="buttons"><a href="./catalogo"><button class="button">Ir a la promoción</button></a></div>
        </div>
      </div>
  
      <!-- Inicio de la segunda fila -->

      <div class="row">
        <div class="column text">
            <p class="titulo_promo">ADIDAS x Sport Planet</p>
          <p>
            ¡Emocionantes noticias para nuestros queridos clientes! Estamos encantados de anunciar una emocionante colaboración que elevará tu experiencia de moda deportiva a nuevas alturas. ¡Nos hemos asociado con la icónica marca deportiva Adidas para ofrecerte lo mejor en estilo y rendimiento!
          </p>
          <p>
            La fusión de la calidad inigualable de nuestra tienda con la innovación y el prestigio de Adidas resultará en una colección que no querrás perderte.
          </p>
          <div class="buttons"><a href="./catalogo"><button class="button">Catálogo</button></a></div>
        </div>
        <div class="column">
          <img src="./assets/img/Adidas.jpg" alt="Imagen Derecha">
        </div>
      </div>
    </div>
  </body>