#confirmar-pago-form {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #4b4b4b;
  }
  
  #confirmar-pago-form form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FF8B37;
    margin: 5%;
    border: solid black;
  }
  
  #confirmar-pago-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  #confirmar-pago-form input,
  #confirmar-pago-form select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: inline-block;
  }
  
  #confirmar-pago-form button {
    background-color: #FFF858;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #confirmar-pago-form button:hover {
    background-color: rgb(255, 166, 0);
  }
  
  .mensaje-error {
    padding: 5%;
    color: red;
    font-weight: bold;
    margin-top: 10px;
    background-color: black;
  }