.divheader {
    background-color: #FF8B37;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    max-width: 15%;
    height: auto;
    margin: 0 auto;
  }
  
  .buttons {
    display: flex;
    margin-left: 20px;
  }
  
  .button {
    background-color: #FFF858;
    color: #333;
    border: none;
    padding: 15px;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 30px;
  }

  .button:hover {
    background-color: #ffd700;
  }

  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-around;
    background-color: #FFB37B;
    padding: 10px;
  }

  nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 10px;
    border-radius: 25px;
  }

  nav a:hover {
    background-color: #FFF9C1;
  }

  .search-bar {
    display: flex;
    align-items: center;
  }

  input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 25px;
  }

  .busqueda {
    background-color: #FFF858;
    color: #333;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
  }


  @media (max-width: 768px) {
    .divheader {
      flex-direction: column;
      text-align: center;
    }
  
    .logo {
        max-width: 15%;
        height: auto;
        margin: 0 auto;
    }
  
    .buttons {
      margin-left: 0;
    }
  }