<body>

    <div class="container">
        <h1>Política de Cookies</h1>

        <h2>1. Uso de cookies</h2>

        <div class="content">
            <p>Sport Planet utiliza cookies para mejorar la experiencia del usuario. Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con nuestra política.</p>
        </div>

        <h2>2. ¿Qué son las cookies?</h2>

        <div class="content">
            <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas un sitio web. Estos archivos contienen información que se utiliza para mejorar la experiencia de navegación.</p>
        </div>

        <h2>3. Tipos de cookies</h2>

        <div class="content">
            <p>Utilizamos cookies de sesión que son eliminadas cuando cierras tu navegador, así como cookies persistentes que permanecen en tu dispositivo durante un período más prolongado.</p>
        </div>

        <h2>4. Control de cookies</h2>

        <div class="content">
            <p>Puedes controlar y gestionar las cookies en tu navegador. Si optas por desactivar las cookies, es posible que algunas partes de nuestro sitio web no funcionen correctamente.</p>
        </div>

        <h2>5. Cookies de terceros</h2>

        <div class="content">
            <p>Utilizamos cookies de terceros para recopilar información sobre el uso de nuestro sitio web con fines estadísticos y de análisis. Estas cookies son proporcionadas por servicios externos y están sujetas a sus propias políticas de privacidad.</p>
        </div>

        <h2>6. Cambios en la política de cookies</h2>

        <div class="content">
            <p>Nos reservamos el derecho de actualizar o cambiar nuestra política de cookies en cualquier momento. Cualquier cambio se publicará en esta página.</p>
        </div>

        <p class="p">Fecha de la última actualización: 01/12/2023</p>
    </div>

</body>