<footer>
    <div class="footer-columns">
      <div class="footer-column">
        <h2>Oficina</h2>
        <p>Dirección: C/ Lugar fictio nº20</p>
        <p>Oficina 67</p>
        <p>Teléfono: 654321098</p>
      </div>

      <div class="footer-column">
        <h2>Enlaces</h2>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Catálogo</a></li>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Carrito de la compra</a></li>
          <li><a href="#">Mi perfil</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h2>Políticas</h2>
        <ul>
          <li><a href="#">Aviso Legal</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Términos de servicio</a></li>
        </ul>
      </div>
    </div>

    <div class="bottom-div">
      <p>Sport Planet © 2023 Reservados todos los derechos</p>
    </div>
  </footer>