<body>

    <div class="container">
        <h1>Política de Privacidad</h1>

        <h2>1. Información recopilada</h2>

        <div class="content">
            <p>Sport Planet recopila información personal cuando te registras en nuestro sitio, participas en encuestas o completas formularios en línea. La información recopilada puede incluir tu nombre, dirección de correo electrónico, dirección postal y otra información relevante.</p>
        </div>

        <h2>2. Uso de la información</h2>

        <div class="content">
            <p>La información que recopilamos se utiliza para personalizar tu experiencia y mejorar nuestros servicios. Utilizamos tu información para procesar transacciones, enviar correos electrónicos periódicos y mejorar nuestro sitio web.</p>
        </div>

        <h2>3. Protección de la información</h2>

        <div class="content">
            <p>Nos comprometemos a proteger la seguridad de tu información personal. Utilizamos medidas de seguridad para proteger contra el acceso no autorizado, la alteración y la divulgación de información personal sensible.</p>
        </div>

        <h2>4. Divulgación a terceros</h2>

        <div class="content">
            <p>No vendemos, intercambiamos ni transferimos tu información personal a terceros. Esto no incluye a terceros de confianza que nos ayudan a operar nuestro sitio siempre que acuerden mantener esta información confidencial.</p>
        </div>

        <h2>5. Cookies</h2>

        <div class="content">
            <p>Utilizamos cookies para mejorar tu experiencia en nuestro sitio y personalizar el contenido y la publicidad. Puedes controlar cómo se utilizan las cookies en tu navegador.</p>
        </div>

        <h2>6. Cambios en la política de privacidad</h2>

        <div class="content">
            <p>Nos reservamos el derecho de actualizar o cambiar nuestra política de privacidad en cualquier momento. Cualquier cambio se publicará en esta página.</p>
        </div>

        <p class="p">Fecha de la última actualización: 01/12/2023</p>
    </div>

</body>