<body>

    <div class="filtro-panel">
      <h2>Filtros</h2>
      <label><input type="checkbox"> Camiseta</label><br>
      <label><input type="checkbox"> Sudadera</label><br>
      <label><input type="checkbox"> Conjunto</label><br>
      <label><input type="checkbox"> Pantalon</label><br>
      <label><input type="checkbox"> Short</label><br>
      <button class="filtro">Aplicar filtro</button>
    </div>
  
    <div  class="producto-container">
      <div *ngFor="let producto of productos | async" class="producto">
        <img class="imagen-producto" [src]="producto.imagen" alt="{{ producto.nombre }}">
        <div class="contenido-producto">
          <h3>{{ producto.nombre }}</h3>
          <div class="descripcion-container">
            <p class="descripcion">{{ producto.descripcion }}</p>
          </div>
          <h4>{{ producto.precio }} €</h4>
          <button class="button" (click)="irAProducto(producto._id)">Ver Detalles</button>
        </div>
      </div>
    
    </div>
  
  </body>