body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4b4b4b;
    overflow: hidden;
    color: white;
  }

  .filtro-panel {
    float: left;
    width: 30%;
    background-color: #3d3d3d;
    border: solid black;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .producto-container {
    margin-left: 30%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .producto {
    width: 30%;
    margin: 10px;
    padding: 15px;
    background-color: #FF8B37;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .imagen-producto{
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin-bottom: 10px;
  }
  .producto h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  .producto h4 {
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 20px;
  }

  .button {
    background-color: #FFF858;
    color: #333;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 30px;
  }

  .button:hover {
    background-color: #ffd700;
  }

  .filtro{
    background-color: #FFF858;
    color: #333;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 30px;
  }

  .filtro:hover {
    background-color: #ffd700;
  }
