<body>

    <h1>Aviso Legal</h1>

    <h2>1. Información legal</h2>

    <h3>SPORT PLANET</h3>
    <div class="p content">
        <p>Sport Planet</p>
        <p>C/ Lugar fictio nº20</p>
        <p>alum.mjesusterrong@iesalixar.org</p>
    </div>

    <h3>Propiedad intelectual y derechos de autor</h3>
    <div class="content">
        <p>El contenido de este sitio web, incluidos, entre otros, los textos, gráficos, logotipos, iconos de botones, imágenes, clips de audio y software, es propiedad exclusiva de Sport Planet o de sus proveedores de contenido y está protegido por las leyes internacionales de propiedad intelectual y derechos de autor.</p>
    </div>

    <h2>2. Condiciones de uso</h2>

    <h3>Uso autorizado</h3>
    <div class="content">
        <p>El usuario se compromete a utilizar el sitio web, sus servicios y contenidos de conformidad con la ley, la moral, las buenas costumbres y el orden público. Queda prohibido cualquier uso con fines ilícitos, lesivos de los derechos e intereses de terceros, o que de cualquier forma pueda dañar, inutilizar, sobrecargar o deteriorar el sitio web o impedir la normal utilización o disfrute del mismo por parte de otros usuarios.</p>
    </div>

    <h3>Enlaces externos</h3>
    <div class="content">
        <p>Este sitio web puede contener enlaces a sitios externos. Sport Planet no se hace responsable de los contenidos, políticas de privacidad o prácticas de los sitios enlazados.</p>
    </div>

    <h2>3. Política de privacidad</h2>
    <div class="content">
        <p>Para conocer la política de privacidad de este sitio web, consulte <a href="./privacidad">aquí</a>.</p>
    </div>

    <h2>4. Limitación de responsabilidad</h2>
    <div class="content">
        <p>Sport Planet no se hace responsable de los daños y perjuicios que puedan derivarse del uso del sitio web o de sus contenidos. La información proporcionada en este sitio web es de carácter general y no constituye asesoramiento profesional.</p>
    </div>

    <h2>5. Jurisdicción y ley aplicable</h2>
    
    <div class="content">
        <p>Cualquier controversia derivada del uso de este sitio web será sometida a la jurisdicción de los tribunales de [ciudad], renunciando expresamente las partes a cualquier otro fuero que pudiera corresponderles.</p>

    </div>

    <p class="p">Fecha de la última actualización: 01/12/2023</p>

</body>